<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>the arman</title>
</head>
<body>
    <div class="container">
        <h1>I'm Arman Mansuryan</h1>
        <h3>DevOps Engineer</h3>
        <h6>Contact Details</h6>
	<hr>        
        <div class="contact">
            <div>
                <i class="fa fa-envelope"></i>
                <span><a href="mailto:arman.mansurian@gmail.com">arman.mansurian@gmail.com</a></span>
            </div>
            <div>
                <i class="fa fa-github"></i>
                <span><a href="https://github.com/TheArman">https://github.com/TheArman</a></span>
            </div>
            <div>
                <i class="fa fa-linkedin-square"></i>
                <span><a href="https://www.linkedin.com/in/arman-mansuryan">https://www.linkedin.com/in/arman-mansuryan</a></span>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <span><a href="tel:+37498650044">+374 98 650 044</a></span>
            </div>
        </div>
    </div>
</body>
</html>

